@import "tailwindcss";

* {
  font-family: Roboto, sans-serif;
}
body{
  height: 100vh;
  overflow: auto;
}
button {
  cursor: pointer;
}

* {
  /*overflow: auto;*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}
